@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-navbar: rgba(0,0,0,0);
  --background-navbar-small: darkcyan;
  --background-general: #000000;
  --background-bars: darkcyan ;
  --background-cards: darkcyan ;
  --text-color-light: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  height: 60px;
}

.navbar {
  background-color: var(--background-navbar);
  padding-left: clamp(20px, 6.25%, 150px);
  padding-right: clamp(20px, 6.25%, 150px);
}

@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
  .navbar {
    background-color: var(--background-navbar-small);
  }
}

.navbar-brand, .brand {
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
}

.navbar-brand {
  height: 60px;
}

.navbar-brand img {
  height: 48px;
  margin-right: 10px;
}

.nav-item {
  font-size: 18px;
}

.nav-item a {
  color: var(--text-color-light) !important;
}

#quienesSomos, #destacados, #contacto {
  background-color: var(--background-general);
  color: var(--text-color-light);
  padding-top: 60px;
  padding-left: clamp(20px, 10%, 200px);
  padding-right: clamp(20px, 10%, 200px);
}

#contacto {
  padding-bottom: 60px;
}

.sectionTitle {
  font-size: 30px;
  font-weight: 400;
}

hr {
  margin-top: 32px;
  margin-bottom: 32px;
}

.qs-part-text {
  font-size: 16px;
}


.qs-part-bar {
  background-color:var(--background-bars);
  color: white;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.card {
  background-color: var(--background-cards);
  color: var(--text-color-light);
}
.card-img-top {
  height: 200px;
}

.card-text {

}

footer {
  background-color: var(--background-cards);
  color: var(--text-color-light);
  padding-left: clamp(20px, 15%, 200px);
  padding-right: clamp(20px, 15%, 200px);
  height: 100px;
  font-size: 30px;
}

#footer-icons i {
  padding-left: 5px;
  padding-right: 5px;
}